body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    text-wrap: break-word;
    overflow-wrap: break-word;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: row-reverse !important;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

#form {
    text-align: center;
    margin: 10px 0;
}

#inputUrl {
    padding: 10px;
    min-width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

#downloadBtn {
    padding: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

#downloadBtn:hover {
    background-color: #0056b3;
}

#download {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

#loading {
    text-align: center;
    display: none;
    margin-top: 20px;
}

#loading .centerV {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

#loading .wave {
    width: 5px;
    height: 100px;
    background: linear-gradient(45deg, red, #fff);
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
}

#loading .wave:nth-child(2) {
    animation-delay: 0.1s;
}

#loading .wave:nth-child(3) {
    animation-delay: 0.2s;
}

#loading .wave:nth-child(4) {
    animation-delay: 0.3s;
}

#loading .wave:nth-child(5) {
    animation-delay: 0.4s;
}

#loading .wave:nth-child(6) {
    animation-delay: 0.5s;
}

#loading .wave:nth-child(7) {
    animation-delay: 0.6s;
}

#loading .wave:nth-child(8) {
    animation-delay: 0.7s;
}

#loading .wave:nth-child(9) {
    animation-delay: 0.8s;
}

#loading .wave:nth-child(10) {
    animation-delay: 0.9s;
}

@keyframes wave {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

#container {
    display: none;
    text-align: center;
    margin: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

#thumb video {
    width: 100%;
    height: 500px;
    border-radius: 20px;
    background: black center center/cover no-repeat;
}

#title,
#description,
#duration {
    margin: 10px 0;
}

#description details {
    text-align: left;
    margin: 0 auto;
    max-width: 80%;
}

#error {
    display: none;
    color: red;
    margin: 10px 0;
    text-align: center;
}

.dlbtns {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    min-width: 150px;
    transition: background-color 0.3s;
    text-decoration: none;
}

.dlbtns:hover {
    opacity: 0.9;
}

#content {
    background: #000000a8;
    color: white;
    font-weight: bold;
    margin-bottom: 80px;
    padding: 20px;
    border-radius: 10px;
}

@media only screen and (max-width: 990px) {
    #inputUrl {
        width: 100%;
    }

    nav {
        display: block;
        text-align: center;
    }

    nav ul {
        flex-direction: column !important;
    }

    nav li {
        display: block;
        margin: 10px 0;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
